.badge {
  font-size: 12px;
  border-width: 1px;
  border-style: solid;

  background-color: @running-color;
  border-color: @running-darker;
  color: @running-darker;

  &.badge-warning {
    background-color: @warning-color;
    border-color: @warning-darker;
    color: @warning-darker;
  }

  &.badge-important {
    background-color: @important-color;
    border-color: @important-darker;
    font-weight: bolder;
    color: contrast(@important-color);
  }

  &.activity-instance-completed {
    background-color: @completed-color;
    border-color: @completed-darker;
    color: @completed-darker;
  }

  &.activity-instance-canceled {
    background-color: @canceled-color;
    border-color: @canceled-darker;
    color: @canceled-darker;
  }

  &.drag {
    z-index: 100;
    opacity: 0.5;
    position: absolute;
    .box-shadow(0 0 3px @gray);
  }
}